# Telegram API Credentials (Get from https://my.telegram.org)
API_ID=37729457
API_HASH=bb68973b7efcbbd074cda984c95502d6

# BotFather Main Factory Bot Token (Get from @BotFather)
BOT_TOKEN=

# Supreme Developer Telegram User IDs (Comma-separated)
SUPREME_IDS=7524032836

# Global Developer Channel ID for Bot Logs (Optional, 0 = Disabled)
LOG_CHANNEL_ID=-1003541175831

# Custom Factory Name
FACTORY_NAME=Anime Bot

# Optional Secret Encryption Salt
37729457CLONE_BOT_ID_TOKEN=my_secure_salt_key_123
